@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: bold;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  
  &:hover &__icon {
    gap: 2rem;
    opacity: 1;
    width: 2rem;
    margin-right: .5rem;
  }

  &__icon {
    opacity: 0;
    color: inherit;
    width: 0;
    font-size: 1.8rem;
    transition: all .5s ease;
  }

  &--menu {
    height: 4rem;
    width: 4rem;
    font-size: 2.4rem;
    background-color: v.$purple-color;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    border-radius: 50%;

    &:hover {
      transform: translateY(-5px);
    }

    @include m.responsiveDesign('big-phone') {
      width: 5rem;
      height: 5rem;
    }
  }

  &--purple {
    padding: 1rem 3rem;
    color: v.$background-color;
    background-color: v.$purple-color;
  }
  
  &--golden {
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }

  &--blue {
    background-color: v.$blue-color;
    color: v.$background-color;
  }

  &--black, &--purple-online {
    letter-spacing: 1px;
    color: v.$white-color;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: -10px;
      bottom: -10px;
      background: linear-gradient(
        to right,
        v.$purple-color, 
        v.$blue-color
      );
      z-index: -1;
      filter: blur(8px);
      opacity: 0.7;
      border-radius: inherit;
    }
  }

  &--black {
    background: v.$purple-color-dark;
    color: #fff;
  }
  
  &--purple-online {
    background: v.$purple-color;
  }

  &--outline {
    border: 1px solid currentColor;
    color: v.$purple-color;
    background-color: transparent;

    display: flex;
    gap: .5rem;
    align-items: center;
  }
  
  &--theme {
    background-color: transparent;
    color: v.$text-color;
    font-size: 2.2rem;
    padding: 1rem;
    border-radius: 50%;

    @include m.responsiveDesign('big-phone') {
      font-size: 3rem;
    }
  }

}