@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.swiper {
    width: 100%;
    padding: 5rem 8rem;

    &__slide {
        border-radius: 1.5rem;
        border: 2px solid v.$white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}

.swiper-portfolio {
    width: 100%;
    padding: 0;
    padding-right: 1rem;

    &__img {
        border-radius: 2rem;
        width: 100%;
        height: 65rem;
        object-fit: cover;

        @include m.responsiveDesign('big-phone') {
            width: 100%;
            margin: 0 auto;
            height: 60rem;
        }
    }
}