@mixin createTextBackground( $bg, $bg-2 ) {
  display: inline-block; 
  background: $bg;
  background: linear-gradient(
    to right,
    $bg, $bg-2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

@mixin createBackgroundGradient( $bg, $bg-2 ) {
  background: linear-gradient(
    to right bottom,
    $bg, $bg-2
  );
}

@mixin responsiveDesign( $bk ) {

  @if $bk == 'laptop' {
    @media screen and (max-width: 1200px) {
      @content;
    };
  }

  @if $bk == 'horizontal-tablet' {
    @media screen and (max-width: 1000px) {
      @content;
    }
  }

  @if $bk == 'tablet' {
    @media screen and (max-width: 800px) {
      @content;
    }
  }

  @if $bk == 'big-phone' {
    @media screen and (max-width: 600px) {
      @content;
    }
  }

}