$background-color: #fffdf9;
$purple-color: #5C258D;
$purple-color-dark: #0d1b20;
$white-color: #ffffff;
$orange-color: #b35840;
$green-color: #3E534C;
$success-color: #51cf66;
$blue-dark-color: #08282a;
$blue-color: #4389A2;
$cover-color: #EDF2F8;
$service-card-color: #f5f5f5;
$yellow-color: #f59f00;

$text-color: #585858;
$gray-color: #666;

$header-height: 7rem;