@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include m.responsiveDesign('laptop') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.responsiveDesign('big-phone') {
    grid-template-columns: 1fr;
  }
}

.projects-hero {
  padding: 5rem 0;
  background-color: v.$cover-color;

  &__content {
    text-align: center;
  }

  &__title {
    font-size: 5.2rem;
    animation: fadeFromRight 2s ease;
    margin-bottom: 1rem;

    span {
      @include m.createTextBackground(#5C258D, #4389A2); 
    }

    @include m.responsiveDesign('big-phone') {
      font-size: 4rem;
    }
  }

  &__text {
    @include m.responsiveDesign('laptop') {
      width: 80%;
      margin: 0 auto;
    }

    @include m.responsiveDesign('big-phone') {
      width: 95%;
    }
  }
}

.projects-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.projects-filter {
  margin-bottom: 5rem;

  @include m.responsiveDesign('big-phone') {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 3.2rem;
  }

  &__item {
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 800;
    padding: .6rem 1.8rem;
    border: 2px solid v.$projects-filter-border;
    background-color: v.$projects-filter-bg;
    color: v.$projects-filter-text;
    transition: all .35s ease;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: translateY(-3px);
      box-shadow: v.$projects-filter-hover-shadow;
    }
  }

  &__item:hover,
  &__item--active {
    background: v.$projects-filter-active-bg;
    color: v.$projects-filter-active-text;
    border-color: transparent;
  }
}

.projects-filter-select {
  display: none;
  width: 100%;
  margin-bottom: 3.2rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  border: 2px solid v.$projects-filter-border;
  font-size: 1.8rem;
  background-color: v.$projects-filter-select-bg;
  color: v.$projects-filter-text;
  border-radius: 2rem;
  font-weight: 700;
  transition: all .3s ease;

  &:focus {
    outline: none;
    border-color: transparent;
    background: v.$projects-filter-active-bg;
    color: v.$projects-filter-active-text;
  }

  @include m.responsiveDesign('big-phone') {
    display: block;
  }
}
