@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;

.footer {
  padding: 12rem 0;
  background-color: v.$footer-bg;

  @include m.responsiveDesign('big-phone') {
    padding: 4rem 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;

    @include m.responsiveDesign('big-phone') {
      grid-template-columns: 1fr;
    }
  }

  &__item:not(:last-child) {
    padding: 2rem 4rem 4rem 0;
    border-right: 2px solid v.$footer-border-color;

    @include m.responsiveDesign('big-phone') {
      border: none;
      padding: 2rem;
    }
  }

  &__item {
    @include m.responsiveDesign('big-phone') {
      padding: 2rem;
    }
  }

  &__item-title {
    text-align: right;
    font-size: 2rem;
    color: v.$footer-title-color;
    margin-bottom: 2rem;
    text-transform: uppercase;

    @include m.responsiveDesign('big-phone') {
      text-align: left;
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &__option {
    color: v.$footer-text-color;
    text-align: right;

    span {
      font-weight: 500;
    }

    @include m.responsiveDesign('big-phone') {
      text-align: left;
    }
  }

  &__link {
    color: v.$footer-link-color;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-weight: 500;

    &-icon {
      font-size: 2rem;
    }

    @include m.responsiveDesign('big-phone') {
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;

    p {
      font-size: 2rem;
      text-transform: uppercase;
      color: v.$footer-title-color;
      font-weight: 900;
      letter-spacing: 1px;
    }
  }

  &__author {
    color: v.$footer-author-color;
    font-weight: 500;

    cite {
      color: v.$purple-color;
      font-style: normal;
      font-weight: 700;
    }
  }
}
