@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.portfolio-header {
  padding: 3rem 2rem;
  height: v.$header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

  }
  
  &__link {
    text-align: center;
    transition: all .4s ease;
    width: 12rem;
    color: v.$purple-color-dark;
    border-radius: 5px;
    
    &:hover {
      font-weight: 900;
      color: v.$purple-color;
    }
  }

  &__button {
    width: 15rem;
  }

}

.portfolio-hero {
  margin: 5rem 0;
  
  &__container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 5rem;
  }
  
  &__content {
    padding: 5rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__title {
    animation: fadeFromRight 2s ease;

    span {
      @include m.createTextBackground(#5C258D, #4389A2); 
    }
  }
  
  &__name {
    animation: fadeFromRight 2s ease;
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  &__image-box {
    overflow: hidden;

    &:hover {
      img { transform: scale(1.1);}
    }
  }

  &__image {
    animation: fadeIn 4s ease;
    transition: transform 2s ease;
    width: 100%;
  }

  &__text {
    animation: fadeFromLeft 2s ease;
    font-weight: 600;
    margin-top: 5rem;
    width: 70%;
    color: v.$gray-color;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 1.5rem;

    button { width: 18rem;}
  }

  &__dots {
    position: absolute;
    z-index: -1;
    width: 30rem;
    right: -5%;
    top: 2%;
  }

  &__social {
    display: block;
    color: v.$text-color;
    position: relative;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;

    &::after {
      content: '';
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to right,
        #5C258D,#4389A2
      );
      border-radius: 50%; // o cambia según la forma
      filter: blur(8px);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::after {
      opacity: 0.7;
    }
  }
  
}

.portfolio-tech {
  margin: 10rem 0;
  background-color: v.$blue-dark-color;
  padding: 10rem;
  border-top: 1px solid #ddd;
  color: v.$background-color;
  // border-radius: 2rem;
  
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
  }
  
  &__text {
    color: v.$background-color;
    width: 80%;
    font-weight: 300;
  }
  
  &__title {
    margin-bottom: 3.2rem;
  }
  
  &__tech {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    row-gap: 4rem;
    font-size: 5rem;
    
    i{ transition: all .4s ease;}
  }
  
  &__sub {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 900;
    @include m.createTextBackground(  #E0EAFC,#CFDEF3); 
  }

}

.portfolio-services {
  border-top: 1px solid #ddd;
  padding: 10rem 8rem;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &__sub {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 900;
    @include m.createTextBackground(#5C258D, #4389A2); 
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    gap: 8rem;
  }
  
  &__icon {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    img { width: 8rem;}
    p { 
      font-size: 1.6rem;
      font-weight: 500;
      color: v.$gray-color;
    }
  }

  &__box {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    background-color: v.$blue-dark-color;
    border-radius: 10px;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  &__figure {
    font-size: 4rem;
    color: v.$background-color;
  }
}

.portfolio-projects {

  padding: 10rem 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
  }

  &__sub {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 900;
    @include m.createTextBackground(#5C258D, #4389A2); 
  }

  &__button {
    width: 25rem;
  }

} 

.project-list {
  display: flex;
  flex-direction: column;
}

.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-bottom: 3rem;
  
  &__content {
    padding: 3rem 6rem;
    border: 1px solid #ddd;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  &__figure {
    overflow: hidden;
  }

  &__figure:hover {
    img {
      transform: scale(1.1);
    }
  }

  &__image {
    transition: all .4s ease;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 1.6rem;
    @include m.createTextBackground(#5C258D, #4389A2); 
  }

  &__text {
    color: v.$gray-color;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &__tech {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 8rem;
  }

  &__item {
    background-color: v.$blue-dark-color;
    color: v.$background-color;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1.5rem;
    border-radius: 100px;

    img {
      border-radius: 50%;
      width: 1.8rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    width: 12rem;
  }

}