@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.portfolio-header {
  padding: 3rem 0;
  height: v.$header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

  }
  
  &__link {
    text-transform: uppercase;
    text-align: center;
    transition: all .4s ease;
    width: 12rem;
    font-size: 1.4rem;
    color: v.$text-color;
    border-radius: 5px;
    
    &:hover {
      font-weight: 900;
      color: v.$purple-color;
    }
  }

  &__button {
    width: 18rem;
  }

}

.portfolio-hero {
  padding: 5rem 0;
  margin-bottom: 5rem;

  &__container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 5rem;
  }
  
  &__content {
    padding: 5rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__title {
    animation: fadeFromRight 2s ease;

    span {
      @include m.createTextBackground(#5C258D, #4389A2); 
    }
  }
  
  &__name {
    animation: fadeFromRight 2s ease;
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  &__image-box {
    border-radius: 1rem;
    overflow: hidden;

    &:hover {
      img { transform: scale(1.1);}
    }
  }

  &__image {
    animation: fadeIn 4s ease;
    transition: transform 2s ease;
    width: 100%;
  }

  &__text {
    animation: fadeFromLeft 2s ease;
    font-weight: 600;
    margin-top: 5rem;
    width: 70%;
    color: v.$gray-color;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 4rem;
    button { width: 18rem;}
  }

  &__button {
    width: 20rem;
  }

  &__dots {
    position: absolute;
    z-index: -1;
    width: 30rem;
    right: -5%;
    top: 2%;
  }

  &__social {
    display: block;
    color: v.$text-color;
    position: relative;
    font-size: 3rem;
    cursor: pointer;

    &::after {
      content: '';
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient( to right,#5C258D,#4389A2);
      border-radius: 50%;
      filter: blur(8px);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::after {
      opacity: 0.7;
    }
  }
  
}

.portfolio-tech {
  margin: 10rem 0;
  background-color: v.$cover-color;
  padding: 10rem;
  border-top: 1px solid #ddd;
  border-radius: 1.5rem;
  
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
  }
  
  &__text {
    width: 80%;
    font-weight: 500;
  }
  
  &__title {
    margin-bottom: 3.2rem;
  }
  
  &__tech {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    row-gap: 4rem;
    font-size: 4rem;
    
    i{ transition: all .4s ease;}
  }
  
  &__sub {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 900;
    @include m.createTextBackground(#5C258D, #4389A2); 
  }

}

.portfolio-services {
  padding: 10rem 8rem;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &__sub {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 900;
    @include m.createTextBackground(#5C258D, #4389A2); 
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    gap: 8rem;
  }
  
  &__icon {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    img { width: 8rem;}
    p { 
      font-size: 1.6rem;
      font-weight: 500;
      color: v.$gray-color;
    }

  }

  &__icon:nth-child(1) &__box {
    background-color: #fbe8ee;
    color: #9561AA;
  }

  &__icon:nth-child(2) &__box {
    background-color: #fbece7;
    color: #F15A2C;
  }

  &__icon:nth-child(3) &__box {
    background-color: #fbf0cf;
    color: #FDCE42;
  }

  &__box {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
  }

  &__figure {
    font-size: 4rem;
  }
}

.portfolio-projects {

  padding: 10rem 0;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }

  &__sub {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    @include m.createTextBackground(#5C258D, #4389A2); 
    display: flex;
    justify-content: center;
    font-weight: 900;
  }

  &__button {
    width: 20rem;
  }

} 

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.12);
  transition: all .5s ease;
  
  &:hover {
    cursor: pointer;
    transform: translateY(-15px);
  }

  &:hover &__figure {
    img {
      transform: scale(1.01);
    }
  }

  &:hover &__title {
    color: v.$background-color;
  }

  &:hover &__title::after {
    width: 100%;
    opacity: 1;
  }

  &__content {
    padding-top: 1rem;
    border-top: none;
    overflow: hidden;
  }
  
  &__figure {
    border-radius: 10px;
    height: 28rem;
    overflow: hidden;
  }
  
  &__image {
    transition: all .4s ease;
    height: 100%;
    width: 100%;
  }

  &__name {
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    position: relative;
    transition: all .4s ease;
    padding: 0 1rem;
    font-weight: 900;
  }
  
  &__title::after {
    z-index: -1;
    transition: all .4s ease;
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    transform: skew(-7deg);
    @include m.createBackgroundGradient(#5C258D, #4389A2);
  }
  
  &__category {
    color: v.$purple-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.2rem;
  }

  &__text {
    color: v.$gray-color;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }

  &__tech {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__item {
    background-color: v.$background-color;
    color: v.$text-color;
    border: 1px solid #bbb;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1.5rem;
    border-radius: 100px;

    img {
      border-radius: 50%;
      width: 1.8rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    width: 12rem;
  }

}