@use '../abstracts/variables' as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: v.$background-color;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

button, input, select, textarea {
  border: none;
}

input {
  offset: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul, ol {
  list-style: none;
  padding: 0;
}

::selection {
  // background-color: v.$color-gray-dark;
  // color: v.$color-background;
}