@use '../abstracts/variables' as v;

html {
  font-size: 62.5%;
}

body {
  color: v.$text-color;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

button, input, textarea {
  font-family: inherit;
  font-size: 1.6rem;
}

.heading-special {
  color: v.$text-color;
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 1.2;
  text-shadow: 0 7px 7px rgba(0, 0, 0, .15);
}