@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

html {
  font-size: 56.5%;

  @include m.responsiveDesign('horizontal-tablet') {
    font-size: 50%;
  }
}

body {
  color: v.$text-color;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

button,
input,
textarea {
  font-family: inherit;
}

.heading-special {
  color: v.$purple-color-dark;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 1.2;
}

.heading-section {
  color: v.$text-color;
  font-weight: 900;
  font-size: 4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  @include m.responsiveDesign('horizontal-tablet') {
    font-size: 3.6rem;
  }
}